@{
  Layout = "_Layout";
}

<h2>Here are the Contact details  :</h2>
@* of @Model["contact"].GetName() *@

<h3>Name : @Model.GetName()</h3>
<h3>Contact : @Model.GetContact()</h3>
<h3>Address : @Model.GetAddress()</h3>

<h3><a href="/addContact">Add Another Contact</a></h3>

<p><a href='/'>Return to Home Page</a></p>
