@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Contact added successfully!</h1>
  <br>
  <h3><a href="/contacts">View your List of Contacts</a></h3>
  <br>
  <h3><a href="/addContact">Add Another Contact</a></h3>
</div>
